@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-3">RTGS - A Cebtral Bank of Yemen New Revolution</h1>
    <p>STAY TUNED... MAKEEN TEAM</a>.</p>
</div>
