@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3 class="display-5">CBY RTGS - Under Construction</h3>
    <p>STAY TUNED... MAKEEN TEAM</p>   
</div>
<br> 
<div class="text-start">
    @{
        if(@Model.UserName == null){
            <h4>You are not signed In</h4>
        }
        else{
            <h4>Hello @Model.UserName</h4>
            <h5>User Info:</h5>
            <pre>@Model.Headers</pre>
            <br>
            <br>
            <a href="https://login.mgtappsrv.makeen.ye/oauth2/sign_out?rd=https://iam.mgtappsrv.makeen.ye/realms/makeen/protocol/openid-connect/logout">Sign Out</a>
        }
    }
</div>
