@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-5">RTGS - A Central Bank of Yemen New Revolution</h1>
    <p>STAY TUNED... MAKEEN TEAM...</a>.</p>   
</div>
<br> 
<div class="text-start">
    <h4>Hello @Model.UserName</h4>
    <h5>User Info:</h5>
    <pre>@Model.Headers</pre>
</div>
