@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-5">RTGS - A Central Bank of Yemen New Revolution</h1>
    <p>STAY TUNED... MAKEEN TEAM... 672</a>.</p>
</div>
